<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.test_camera" >

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
`    
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission
        android:name="android.permission.FLASHLIGHT"
        android:permissionGroup="android.permission-group.HARDWARE_CONTROLS"
        android:protectionLevel="normal" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >
        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider1680081728874099"
            android:exported="true" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_id" />

        <activity
            android:name=".MainSource.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <data android:mimeType="image/*" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <uses-permission android:name="android.permission.CAMERA" />
        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

        <uses-feature android:name="android.hardware.camera" />

        <activity
            android:name=".MainSource.ImageEditorActivity"
            android:label="@string/title_activity_image_editor" >
        </activity>
        <activity
            android:name=".MainSource.QRCodeScanerActivity"
            android:label="@string/title_activity_image_editor"
            android:parentActivityName=".MainSource.MainActivity" >
        </activity>
        <activity
            android:name=".MainSource.OcrActivity"
            android:label="@string/title_activity_orc" >
        </activity>
        <activity
            android:name=".MainSource.BlurActivity"
            android:label="@string/title_activity_blur" >
        </activity>
        <activity
            android:name=".MainSource.BrightnessContrastActivity"
            android:label="@string/title_activity_brightness_contrast"
            android:parentActivityName=".MainSource.ImageEditorActivity" >
        </activity>
        <activity
            android:name=".MainSource.FilterActivity"
            android:label="@string/title_activity_filter"
            android:parentActivityName=".MainSource.ImageEditorActivity" >
        </activity>
        <activity
            android:name=".MainSource.SelectionActivity"
            android:label="@string/title_activity_selection" >
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".MainSource.MinorActivity"
            android:label="@string/title_activity_minor" >
        </activity>
        <activity
            android:name=".MainSource.SettingActivity"
            android:label="@string/title_activity_setting" >
        </activity>
    </application>

</manifest>
